---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog', ({ data }) => {
  return data.pubDate <= new Date();
});
// Sortowanie postów od najnowszych
allBlogPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Trisect">
  <h1>Trisect</h1>
  <p>
    Game dev architect building living worlds with emergent AI.
    <!--Founder of <a href="https://tayn.games" target="_blank">TAYN.games</a>.-->
  </p>
  <p>
    <a href="https://x.com/TrisectDeV" target="_blank">X (Twitter)</a> <!--|
    <a href="https://github.com/TrisectDev" target="_blank">GitHub</a> -->
  </p>
  <p>
    <a href="/blog/" class="blog-button">Visit My Devlog</a>
  </p>
</BaseLayout>
